<!-- only head stuff for embeds --><!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content="#2B2D31" name="theme-color" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="sitemap" href="/sitemap.xml" />

    <!-- OpenGraph Tags -->
    <meta property="og:title" content="Rayfield Documentation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rayfield.dev/en/introduction" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://rayfield.dev/default-og-image.png" />
    <meta property="og:image:alt" content="Sirius Rayfield logo in front of a beautiful picture of a lake in snowy mountains." />
    <meta name="description" property="og:description" content="The official Rayfield UI Suite documentation." />
    <meta property="og:site_name" content="Rayfield Documentation" />

    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sirius.software" />
    <meta name="twitter:title" content="Rayfield Documentation" />
    <meta name="twitter:description" content="The official Rayfield UI Suite documentation." />
    <meta name="twitter:image" content="https://rayfield.dev/default-og-image.png" />
    <meta name="twitter:image:alt" content="Sirius Rayfield logo in front of a beautiful picture of a lake in snowy mountains." />
  </head>
  <body>
    <script>
      // Redirect your homepage to the first page of documentation.
      // If you have a landing page, remove this script and add it here!
      window.location.pathname = `/en/introduction`;
    </script>
  </body>
</html>
