---
import * as CONFIG from "../../config";
import Logo from "./Logo.astro";
import SidebarToggle from "./SidebarToggle";
import Search from "./Search";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props as Props;
---

<nav id="nav" class="sticky top-0 left-0 z-50 h-14 w-full saturate-[180%] backdrop-blur-[20px]">
  <style>
    #nav {
      background-color: rgba(29, 29, 30, 0.7);
      -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      -webkit-transition-property: background-color, -webkit-backdrop-filter;
      transition-property: background-color, -webkit-backdrop-filter;
      transition-property: background-color, backdrop-filter;
      transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
    }
  </style>
  <div class="mx-auto flex h-full w-full max-w-screen-xl flex-wrap items-center justify-between px-6 sm:px-4">
    <div class="flex">
      <div class="md:hidden">
        <SidebarToggle client:idle />
      </div>
      <a id="logo" href="/" class="items-left m-0 flex p-0 text-xl font-semibold text-white no-underline transition-opacity duration-500 ease-in-out hover:no-underline hover:opacity-50">
        <span>Rayfield</span>
      </a>
    </div>
    <div class="hidden items-center gap-4 text-sm [line-height:1.33337] sm:flex lg:order-2">
      <div class="flex items-center gap-1 duration-700 ease-in-out">
        <a href="https://sirius.menu/" target="_blank" class="font-light text-white opacity-80 hover:text-[#147ce5] hover:opacity-100">Sirius</a>
      </div>
      <div class="hidden items-center gap-1 duration-700 ease-in-out sm:flex">
        <a href="https://rayfield.dev/" target="_blank" class="font-light text-white opacity-80 hover:text-[#147ce5] hover:opacity-100"> Rayfield</a>
      </div>
      <div class="hidden items-center gap-1 duration-700 ease-in-out sm:flex">
        <a href="https://discord.gg/sirius" target="_blank" class="font-light text-white opacity-80 hover:text-[#147ce5] hover:opacity-100"> Discord</a>
      </div>
    </div>
    <div class="relative z-10 flex-shrink basis-40 md:flex-grow flex md:max-w-md">
      <Search client:idle />
    </div>
  </div>
</nav>

<style>
  /* :root {
    --docsearch-primary-color: var(--theme-accent);
    --docsearch-logo-color: var(--theme-text);
  } */
</style>
