---
type Props = {
  size: number;
};
const { size } = Astro.props as Props;
---

<svg class="logo" width={size} height={size} viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <style>
    .logo:hover .line {
      fill: var(--theme-text-accent);
    }

    .line {
      fill: var(--theme-text);
    }
  </style>
  <title>Sirius Logo</title>

  <path fill-rule="evenodd" clip-rule="evenodd" class="line" d="M24,8.3c0,0.3-0.1,0.5-0.3,0.7l0,0c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3l-3.6-3.6
	c-0.4-0.4-0.4-1,0-1.4c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l3.6,3.6C23.9,7.8,24,8,24,8.3z"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" class="line" d="M24,15.7c0,0.3-0.1,0.5-0.3,0.7c-0.4,0.4-1,0.4-1.4,0L15,9c-0.2-0.2-0.3-0.4-0.3-0.7c0-0.3,0.1-0.5,0.3-0.7
	c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l7.3,7.3C23.9,15.2,24,15.4,24,15.7z"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" class="line" d="M20.3,19.3c0,0.3-0.1,0.5-0.3,0.7c-0.4,0.4-1,0.4-1.4,0L4,5.3C3.8,5.2,3.7,4.9,3.7,4.7C3.7,4.4,3.8,4.1,4,4
	c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3L20,18.6C20.2,18.8,20.3,19.1,20.3,19.3z"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" class="line" d="M5.6,19.3c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.3-0.7,0.3c0,0,0,0,0,0c-0.3,0-0.5-0.1-0.7-0.3l-3.7-3.7
	C0.1,16.2,0,15.9,0,15.7c0-0.3,0.1-0.5,0.3-0.7c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l3.7,3.7C5.5,18.8,5.6,19.1,5.6,19.3z
	"></path>
  <path fill-rule="evenodd" clip-rule="evenodd" class="line" d="M9.3,15.7c0,0.1,0,0.3-0.1,0.4c0,0.1-0.1,0.2-0.2,0.3c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3L0.3,9
	c-0.4-0.4-0.4-1,0-1.4C0.5,7.4,0.7,7.3,1,7.3c0.3,0,0.5,0.1,0.7,0.3L9,15C9.2,15.2,9.3,15.4,9.3,15.7z"></path>
</svg>
